body {
	background: #310404;
	font-family: 'Roboto Condensed', sans-serif;
}

.container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;}
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.container .frame-5 {
	position: absolute;
	line-height: 100px;
	height: 100px;
	margin-top: 0px;
	font-size: 100px;
	width: 100%;
	text-align: center;
	color: transparent;
	animation: blurFadeInOut 3s ease-in backwards;
}
.container .frame-1 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 100px;
	margin-top: -50px;
	font-size: 25px;
	width: 100%;
	text-align: center;
	color: transparent;
	animation: blurFadeInOut 3s ease-in-out;
}

.container div.frame-1 {
	animation-delay: 0s;
}
.container h2.frame-2 {
	animation-delay: 2.5s;
}
.container h2.frame-3 {
	animation-delay: 5s;
}
.container h2.frame-4 {
	font-size: 200px;
	animation-delay: 7.5s;
}
.container div.frame-5 {
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.container div.frame-5  {
	animation: blurFadeIn 3s ease-in 2.5s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.container h2.frame-5 span:nth-child(2) {
	animation-delay: 2.5s;
}
.container h2.frame-5 span:nth-child(3) {
	animation-delay: 2.5s;
}

@keyframes blurFadeInOut{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(0.9);
	}
	20%,75%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1);
	}
	50%{
		opacity: 1;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	50%{
		opacity: 0.4;
		transform: scale(2);
	}
	100%{
		opacity: 0.2;
		transform: scale(5);
	}
}
iframe{
    height: 5000%;
	width: 100%;
}
